.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.login {
  background-color: #6150ae;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.login h1 {
  font-size: 3rem;
  font-weight: 100;
  margin: 0;
}

.login h2 {
  font-weight: 700;
  margin-top: 25px;
  font-size: 2rem;
}

.loading-bottomImage,
.login .bottom-img {
  margin-top: 70px;
}

.login button {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #dedbee;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.login button:hover {
  background-color: #fff;
}

.login button img {
  width: 30px;
  margin-left: 5px;
}
.login button a {
  text-decoration: none;
  color: #000;
}

div.absolute {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  z-index: 111111111;
  justify-content: center;
  height: 100vh;
  overflow-y: hidden;
  top: 0;
  left: 0;
}

div.absolute .absolute-content {
  height: auto;
  max-height: 80vh;
  border-radius: 20px;
  margin: 50px auto;
  padding: 20px;
  position: relative;
}

button.absolute-close {
  color: white;
  background-color: transparent;
  border: none;
  padding: 10px 15px;
  border-radius: 40px;
  font-size: 24px;
  position: absolute;
  right: 20px;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

button.absolute-close:hover {
  color: #404040;
}

.add-song {
  width: 400px;
  background-color: #6150ae;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-song h1 {
  color: #fff;
  text-align: center;
  font-weight: 100;
}

.add-song img {
  width: 300px;
  margin-top: 50px;
}

.add-song span {
  display: flex;
}

.add-song span button {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 5px 20px;
  border-radius: 20px;
  border: none;
  margin: 20px 10px 10px 0;
  background-color: #ccc;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.add-song span button:hover {
  background-color: #fff;
}

.add-song span button img {
  width: 30px;
  margin: 0;
  margin-left: 5px;
}

.add-song p {
  margin: 0;
  color: #fff;
}

.add-song form {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.add-song form input {
  margin: 10px 0;
  border-radius: 20px;
  outline: none;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  color: #000;
  background-color: #ccc;
}

.add-song form input::placeholder {
  color: #fff;
}

.add-song form button {
  margin: 10px 0;
  border-radius: 20px;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  color: #ccc;
  background-color: #404040;
  width: 200px;
  align-self: center;
  margin-bottom: 100px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.add-song form button:hover {
  background-color: #202020;
}

div.profile {
  height: 100vh;
  position: fixed;
  z-index: 1111;
  width: 500px;
  top: 0;
  background-color: #404040;
  right: 0;
  border-radius: 30px 0 0 30px;
  transition: all 0.3s ease-in;
  /* padding-left: 50px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.profile.hide {
  right: -450px;
}

.profile button.hide {
  right: 10px;
  position: absolute;
  background-color: transparent;
  border: none;
  top: 10px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in;
  margin: 0;
}

.profile button.hide:hover {
  color: #6150ae;
}

.profile img.profile {
  width: 150px;
  height: 150px;
}

.profile h1 {
  font-weight: 400;
  color: #fff;
  margin: 10px 0 0 0;
}

.profile h2 {
  font-weight: 400;
  color: #6150ae;
  margin: 0;
}

.profile p {
  align-self: start;
  margin: 10px 0 0 50px;
  color: #fff;
}

.profile p span {
  color: #6150ae;
}

.profile button.edit {
  border: none;
  padding: 5px 15px;
  border-radius: 20px;
  align-self: end;
  margin-right: 50px;
  margin-top: -20px;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.profile button.edit:hover {
  background-color: #6150ae;
  color: #fff;
}

.profile .tapes {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 40px 0 50px;
  justify-content: space-between;
}

.profile .tapes .item {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  cursor: pointer;
}

.profile .tapes .item hr {
  margin-right: 5px;
  width: 5px;
  background-color: #fff;
  border-radius: 5px;
  height: 70px;
  visibility: hidden;
}

.profile .tapes .item img {
  border: 3px solid transparent;
}

.profile .tapes .item.selected hr {
  visibility: visible;
}

.profile .tapes .item.selected img {
  border: 3px solid #6150ae;
}

.song-list {
  padding-bottom: 50;
  margin-right: 50px;
  transition: all 0.3s ease-in;
}

.slide-left {
  padding-right: 450px !important;
}

.slide-up {
  bottom: 0 !important;
}

.dashboard-search {
  transition: all 0.3s ease-in;
}

.dashboard-search h1 {
  font-size: 24px;
  font-weight: 400;
}

.dashboard-search .tapes {
  display: flex;
  flex-wrap: wrap;
}

.dashboard-search .tapes img {
  margin: 0 10px 10px 0;
}

.dashboard-search .profiles {
  display: flex;
  flex-wrap: wrap;
}

.dashboard-search .profiles .item {
  background-color: #ccc;
  margin: 0 30px 10px 0;
  border-radius: 20px;
  padding: 10px;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.dashboard-search .profiles .item:hover {
  background-color: #fff;
}

.dashboard-search .profiles .item p {
  text-align: center;
}

.dashboard-search button {
  margin-top: 20px;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: #404040;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.dashboard-search button:hover {
  color: #6150ae;
}

.list-icons-container button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  margin: 0 10px;
  color: #6150ae;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.list-icons-container button:hover {
  color: #fff;
}

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.connectIcon {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

.connectButton {
  padding: 7px 50px;
  min-width: 215px;
  margin-top: 20px;
  border-radius: 50px;
  border: none;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.7);
}

.loading-button-title {
  font-weight: 600;
}

.dashboard-aside {
  background-color: #404040;
  max-width: 90px;
  min-height: 100vh;
  padding-top: 10px;
}

.side-image {
  width: 60px;
  border-radius: 60px;
  cursor: pointer;
  border: 2px solid white;
  transition: all 0.3s ease-in;
}

.side-image:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.side-image-container {
  padding: 10px;
}
.side-button {
  padding: 7px 20px;
  border-radius: 12px;
  border: none;
  margin-top: 20px;
  font-size: 18px;
}
.option-container {
  display: flex;
  justify-content: center;
}
.options-text {
  color: #ffff;
  font-weight: 700;
  cursor: pointer;
}
.cursor-pointer {
  cursor: pointer;
  border: 3px solid transparent;
  transition: all 0.3s ease-in;
}

.cursor-pointer:hover {
  background-color: #ccc;
  border: 3px solid #6150ae;
}

.body-section {
  background-color: #bebebe;
  width: 100%;
  padding-top: 20px;
  padding: 20px 40px;
  position: relative;
}
.dashboard-container {
  display: flex;
}
.search-feild {
  width: 94%;
  padding: 10px 20px;
  border-radius: 20px;
  padding-left: 40px;
  border: none;
}

.search-icon {
  width: 25px;
}

.search-container {
  position: absolute;
  top: 7px;
  left: 10px;
}

.filter-container {
  position: absolute;
  top: 7px;
  right: 30px;
}
.search-container-app {
  position: relative;
}
.list-container {
  display: flex;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}
.list-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.list-image-played {
  width: 50px;
  margin-left: 10px;
}
.list-meta {
  margin-left: 20px;
  width: 100px;
  display: grid;
}
.list-meta-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.list-container:hover {
  background-color: #7f7f7f;
  padding: 5px;
  padding-right: 20px;
}

.list-icons-container {
  display: flex;
  align-items: center;
}
.photo-list {
  width: 130px;
  height: 115px;
}
.photo-list-container {
  display: flex;
  width: 100%;
  margin-left: 100px;
}
.played-song-container {
  padding: 10px 10px 10px 30px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  width: 98.5%;
  align-items: center;
}
.white-bar {
  width: 80%;
  border-bottom: 5px solid #fff;
  height: fit-content;
  margin-right: 100px;
  margin-left: 20px;
}
.bottom-overlay {
  position: fixed;
  bottom: -220px;
  left: 90px;
  width: 94.5%;
  background-color: #7f7f7f;
  transition: all 0.3s ease-in;
}

.bottom-overlay .photo-list-container {
  margin: 20px 0 0 30px;
}

.edit-play-botton {
  border-radius: 20px;
  border: none;
  padding: 7px 15px;
  margin-right: 10px;
}
.edit-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
